// Flex
.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;

	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: flex-start;
	-webkit-align-content: flex-start;
	
	&.flex-vertical {
		flex-direction: column;
		> .flex-post {
			flex-basis: 0;
		}
	}
	
	.break {
		width: 100%;
	}
}
.flex-container ~ .card {
	margin-top: 16px;
}
.flex-post {
	border-left: 1px solid lightgray;
	border-top: 1px solid lightgray;
	margin: 5px;
	padding: 10px;
	flex-grow: 1;
	flex-basis: 220px;
}
.flex-image img {
	box-sizing: border-box;
	display: block;
}
.flex-container.inline-content .flex-image {
	text-align: center;
	font-weight: 100;
	img {
		max-height: 180px;
	}
}
.flex-info h2 {
	padding-top: 5px;
	font-size: 1.3em;
}

.flex-post.flex-container, .flex-post.contains-flex {
	border: none;
	margin: 0;
	padding: 0;
}

.flex-hiding {
	flex-wrap: nowrap;
	
	.flex-post {
		display: none;
		&:nth-child(1) {
			display: block;
			max-width: 280px;
		}
		@media (min-width: $small) {
			&:nth-child(1) {
				max-width: none;
			}
			&:nth-child(2) {
				display: block;
			}
		}
		@media (min-width: $medium) {
			&:nth-child(3) {
				display: block;
			}
		}
		@media (min-width: $large) {
			&:nth-child(4) {
				display: block;
			}
		}
	}
}

// Columns
@media (min-width: $medium) {
	.col-2 {
		display: flex;
		flex-wrap: wrap;
		> div {
			flex: 1 0 0;
			// 16px padding between when side by side
			&:first-child {
				margin-right: 8px;
			}
			&:last-child {
				margin-left: 8px;
			}
		}
	}
}
