// Container
footer {
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 -1px 4px #d9d9d9;
	margin-top: -40px;
	position: relative;
	z-index: 0;
	clear: both;
	padding-top: 20px;
	padding-bottom: 30px;
}
// Inner
.footer {
	padding: 25px;
	margin: 0 auto;
	text-align: left;
	color: #757575;
	a {
		margin: 0 1em;
		color: #757575;
	}
	@media (min-width: $small) {
		width: 730px;
	}
	@media (min-width: $medium) {
		width: 950px;
	}
	@media (min-width: $large) {
		width: 1150px;
	}
}
.melink { // (Cookies and) Copyright
	display: block;
	float: right;
}

// Share

.share {
	height: 3em;
	line-height: 3em;
	width: 380px;
	position: fixed;
	bottom: 0;
	right: 30px;
	background: rgba(255, 255, 255, 0.8) !important;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	z-index: 98;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
	vertical-align: middle;
	font-size: 13px;
	border-radius: 6px 6px 0 0;
	
	.share-left {		
		.share-button {
			display: inline-block;
			padding: 0.5em;
			width: 2em;
			height: 2em;
			text-align: center;
			margin-left: 10px;
			
			&.share-button-twitter {
				background: #55acee;
			}
			&.share-button-googleplus {
				background: #dd4b39;
			}
			&.share-button-facebook {
				background: #3B5998;
			}
			
			.icon {
				padding: 4px 0 15px 15px;
				background-size: contain !important;
				background-repeat: no-repeat !important;
			}
		}
		
		iframe { // Reddit
			margin-top: 9px;
			margin-left: 10px;
		}
		
		.commentslink {
			position: absolute;
			margin-left: 10px;
		}
	}
}